{% load static %}
<html>
    <head>
        <title>Tienda de Arte</title>

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">BONANZA WE XD</a></h1>

            <form>
                <label for="categoria">Categoria</label>
                <select type="text" id="categoria" name="categoria">
                    <option>Todo</option>
                    <option>Licra</option>
                    <option>Camiseta</option>
                </select>
                <br><br>
                <button onclick="search()"></button>>Buscar</button>
            </form>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
</html>

